<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Akin</title>
    <link rel="shortcut icon" type="image/ico" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/animate.css">
    <link rel="stylesheet" href="/stylesheets/layout.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/socket.io.js"></script>
    <script>
    function toggleNav() {
        var x = document.getElementById("nav-smallview");

        if (x.className != "expanded") {
            x.style.display = "block";
            x.className = "expanded";
        } else {
            x.style.display = "none";
            x.className = "compressed";
        }
    }
    </script>
</head>
<nav>
    {{#if name}} {{#if location}}
    <div class="row text-center" id="nav">
        <table id="nav-split">
            <tr>
                <td>
                    <div id="nav-greet">
                        <div id="nav-hello">HELLO {{name}}
                            <span id="nav-wel">Welcome to <a href="/" id="nav-home">AKIN</a></span>
                        </div>
                    </div>
                </td>
                <td id="drop-down">
                    <a href="javascript:void(0);" onclick="toggleNav()">☰</a>
                </td>
                <td id="nav-largeview">
                    <table id="nav-links">
                        <tr>
                            <td style="width: 45vw">
                                <form style="margin-right:15px" class="" action="/getMap" name="getMap" method="get">
                                    <button id="getMap-btn" type="submit" class="btn btn-primary">VIEW MAP</button>
                                </form>
                            </td>
                            <td>
                                <button style="margin-right:15px" id="postPing-btn" type="button" class="btn btn-success postPing-btn">SEND PING</button>
                            </td>
                            <td>
                                <form style="margin-right:15px" class="" action="/profile/{{userId}}" name="getBox" method="get">
                                    <button id="navGetBox-btn" type="submit" class="btn btn-info">PROFILE</button>
                                </form>
                            </td>
                            <td>
                                <form class="" action="/logout" name="logout" method="post">
                                    <button id="navLogout-btn" type="submit" class="btn btn-danger">LOG OUT</button>
                                </form>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <ul id="nav-smallview" class="compressed">
            <li>
                <form style="margin-right:15px" class="" action="/getMap" name="getMap" method="get">
                    <button id="getMap-btn" type="submit" class="btn btn-primary">VIEW MAP</button>
                </form>
            </li>
            <li>
                <button style="margin-right:15px" id="postPing-btn" type="button" class="btn btn-success postPing-btn">SEND PING</button>
            </li>
            <li>
                <form style="margin-right:15px" class="" action="/profile/{{userId}}" name="getBox" method="get">
                    <button id="navGetBox-btn" type="submit" class="btn btn-info">PROFILE</button>
                </form>
            </li>
            <li>
                <form class="" action="/logout" name="logout" method="post">
                    <button id="navLogout-btn" type="submit" class="btn btn-danger">LOG OUT</button>
                </form>
            </li>
        </ul>
    </div>
    {{/if}} {{/if}}
</nav>

<body>
    {{{body}}}
</body>

</html>
