	<h1>Hello, please login</h1>
	<form action='login' method='POST'>
		<input required="required" type="text" placeholder="username" name="username">
		<input required="required" type="password" placeholder="username" name="password">
		<button type="button" class="submit">Submit</button>
	</form>