<link rel="stylesheet" href="/stylesheets/jquery-jvectormap-2.0.3.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/stylesheets/map.css" type="text/css" media="screen" />
<script type='text/javascript' src='https://d3js.org/d3.v3.min.js'></script>
<script type='text/javascript' src='https://d3js.org/topojson.v1.min.js'></script>
<script type='text/javascript' src='/js/planetaryjs.min.js'></script>
<script src="/js/jquery-jvectormap-2.0.3.min.js"></script>
<script src="/js/jquery-jvectormap-world-mill.js"></script>
{{!-- body --}}
<div class="container">
    <div class="row text-center" style="margin-top:50px">
        <div id="href">{{userHref}}</div>
        <h1 style="font-size:60px">MAP VIEW</h1> {{!--
        <hr>
        <h2>PlanetaryJS</h2>
        <canvas id='rotatingGlobe' width='400' height='400' style='width: 400px; height: 400px; cursor: move;'></canvas>
        <br> --}}
        <hr>
        <div style="margin-left:20px;margin-right:20px">
            <div id="world-map" style="max-width: 960px; height:400px; margin: 0 auto;margin-bottom:100px;border:3px solid"></div>
        </div>
    </div>
</div>
{{!-- Map init script --}}
<script type='text/javascript' src='/js/map.js'></script>
{{!-- jVectorMap init script --}}
<script>
</script>
