<link rel="stylesheet" href="/stylesheets/jquery-jvectormap-2.0.3.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/stylesheets/map.css" type="text/css" media="screen" />
<script type='text/javascript' src='https://d3js.org/d3.v3.min.js'></script>
<script type='text/javascript' src='https://d3js.org/topojson.v1.min.js'></script>
<script type='text/javascript' src='/js/planetaryjs.min.js'></script>
<script src="/js/jquery-jvectormap-2.0.3.min.js"></script>
<script src="/js/jquery-jvectormap-world-mill.js"></script>

{{!-- body --}}
<div class="container">
    <div class="row text-center">
        <a href="/">
            <h2>GO HOME</h2>
        </a>
        <h1 style="font-size:60px">MAP VIEW</h1>
        <hr>
        <h2>PlanetaryJS</h2>
        <canvas id='rotatingGlobe' width='400' height='400' style='width: 400px; height: 400px; cursor: move;'></canvas>
        <br>
        <hr>
        <h2>jVectorMap</h2>
        <div id="world-map" style="width: 540px; height: 320px; margin: 0 auto"></div>
    </div>
</div>

{{!-- PlanetaryJS init script --}}
<script type='text/javascript' src='/js/map.js'></script>

{{!-- jVectorMap init script --}}
<script>
$(function() {
    $('#world-map').vectorMap({
        map: 'world_mill',
        backgroundColor: '#66b3ff',
        markersSelectableOne: true,
        regionStyle: {
            initial: {
                fill: '#99ff99',
                "fill-opacity": 1,
                stroke: 'none',
                "stroke-width": 0,
                "stroke-opacity": 1
            }
        }
    });
});
</script>
