<h1>Profile page of {{userName}}</h1>
<h2>{{userHref}}</h2>
<br>
<h3>TODO:Check signal status of this user is active/inactive</h3>
<h3>Option 1: Give Random Happy Sticker</h3>
<h3>Option 2: Give Random Music Note</h3>
<h3>Option 3: Give Random *Relevant Motivation Quote</h3>