body{
	background: black;
}

#akin-intro{
	margin: 0 0 15px 0; 
	font-size: 17rem;
	font-family: 'Open Sans Condensed', 'san-serif';
	font-weight: bold; 
	opacity: 0.8;
	-webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 6s; /* Firefox < 16 */
    -ms-animation: fadein 6s; /* Internet Explorer */
    -o-animation: fadein 6s; /* Opera < 12.1 */
    animation: fadein 6s;
}

#welcome{
	font-size: 1.25rem;
	opacity: 0.8;
	margin: 6% 0 10px 0; 
	display: block;
	-webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s; /* Firefox < 16 */
    -ms-animation: fadein 3s; /* Internet Explorer */
    -o-animation: fadein 3s; /* Opera < 12.1 */
    animation: fadein 3s;
}

#login-button, #register-button{
	background: none;
	font-size: 1.25rem;
	opacity: 0.8;
	margin: 3px 3px;
	border: 2px solid transparent;
    border-radius: 4px;
    -webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 6s; /* Firefox < 16 */
    -ms-animation: fadein 6s; /* Internet Explorer */
    -o-animation: fadein 6s; /* Opera < 12.1 */
    animation: fadein 6s;
    z-index: 10;
}

@media (max-width: 680px){
	#login-button, #register-button{
		font-size: 5rem;
	}
	#akin-intro{
		font-size: 20rem;
	}
	#welcome{
		font-size: 5rem;
		margin: 15% 0 10px 0;
	}
}

#login-button:hover, #login-button:active, #register-button:hover, #register-button:active,{
	background-color:rgba(255, 255, 255, 0.25)
}

#geo-submission{
	max-width:620px;
	margin: 5% auto;
}

#geo-submission label{
	font-weight: normal;
	font-size: 2.5rem;
	text-align: center;
	margin: 1% auto;
}

#geo-submission #searchTextField{
	background-color: rgba(255, 255, 255, 0.5);
	border: 2px #2aaada solid;
    border-radius: 4px;
    font-size: 1.25rem;
    color: #ffffff;
}

#geo-submission #searchTextField::-webkit-input-placeholder{
	color: #ffffff;
}
#geo-submission #searchTextField::-moz-placeholder{
	color: #ffffff;
}
#geo-submission #searchTextField::-ms-input-placeholder{
	color: #ffffff;
}

#geo-submission #locationSubmit-btn{
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.2);
	border: 2px #2aaada solid;
    border-radius: 4px;
}

#geo-submission #locationSubmit-btn:hover, #geo-submission #locationSubmit-btn:active{
	background-color:rgba(255, 255, 255, 0.5)
}

.showOnLocation{
	width: auto;
}
.signal-cols{
	clear: both;
	border:solid #2aaada 1px;
	height:350px; 
	border-radius: 4px; 
	max-height:400px;
	width: 100%;
	overflow: hidden; 
	margin: 5px 0;
	padding: 0;
	background: rgba(255, 255, 255, 0.3);
}

.signal-cols::-webkit-scrollbar{
	width: 1rem;
	background: transparent;
}

.signal-cols::-webkit-scrollbar-thumb{
	background: rgba(255, 0, 0, 0.1);
}


@media (max-width: 680px){
	#geo-submission label{
		font-size: 5rem;
		width: 100%;
		margin: 0 auto;
	}

	#geo-submission #searchTextField{
		font-size: 4rem;
	}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.8; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.8; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.8; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.8; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.8; }
}

canvas{
	z-index: 8;
}

#home-screen{
	width: 100%;
	height: 100vh;
	text-align: center;
	margin: 10vh auto;
	box-sizing: border-box;
}


.home-buttons{
	width: 45%;
	display: inline;
	float: left;
	text-align: center;
	overflow: hidden;
}

.home-buttons button{
	font-size: 30px;
}
#round{
	width: 20%;
	height: 40%;
	margin: 0 auto;
}

#home-sendPing{
	box-sizing: border-box;
	width: 100%;
	font-size: 6rem;
	height:0;
	padding-bottom: 100%;
    border-radius: 50%;
  	overflow: hidden;
    border: 3px solid transparent;
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 8s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0px, 0px) rotate(2deg)}
    25% {-webkit-transform:translate(-5px, 18px) rotate(-3deg)}
    50% {-webkit-transform:translate(2px, -18px) rotate(1deg)}
    75% {-webkit-transform: translate(-5px, 8px) rotate(-3deg)} 
    to {-webkit-transform: translate(-0, -0) rotate(2deg)}    
}
    
@-moz-keyframes Floating{
  	from {-moz-transform:translate(0px, 0px) rotate(2deg)}
    25% {-moz-transform:translate(-5px, 18px) rotate(-3deg)}
    50% {-moz-transform:translate(2px, -18px) rotate(1deg)}
    75% {-moz-transform: translate(-5px, 8px) rotate(-3deg)} 
    to {-moz-transform: translate(-0, -0) rotate(2deg)}    
}

#home-sendPing:hover{
	background: rgba(255, 255, 255, 0.5);
}

#home-screen button{
	box-sizing: border-box;
	word-wrap: break-word;
	text-align: center;
	background: rgba(255, 255, 255, 0.2);
	border: 2px solid transparent;
}

#home-sendPing button{
	box-sizing: border-box;
	display: block;
	width: 100%;
	padding: 30% 0 70% 0;
	line-height: 1em;
	font-size: 40px;
}

#home-map{
	-webkit-animation-name: Floatingxmap;
    -webkit-animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floatingmap;
    -moz-animation-duration: 8s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}

@-webkit-keyframes Floatingxmap{
    from {-webkit-transform:translate(0px, 0px) rotate(-3deg)}
    25% {-webkit-transform:translate(5px, -10px) rotate(1deg)}
    50% {-webkit-transform:translate(-2px, 5px) rotate(-2deg)}
    75% {-webkit-transform: translate(5px, -8px) rotate(1deg)} 
    to {-webkit-transform: translate(-0, -0) rotate(-3deg)}    
}
    
@-moz-keyframes Floatingmap{
  	from {-moz-transform:translate(0px, 0px) rotate(-3deg)}
    25% {-moz-transform:translate(5px, -10px) rotate(1deg)}
    50% {-moz-transform:translate(-2px, 5px) rotate(-2deg)}
    75% {-moz-transform: translate(5px, -8px) rotate(1deg)} 
    to {-moz-transform: translate(-0, -0) rotate(-3deg)}    
}

#home-profile{
	margin-left: 5vw;
	-webkit-animation-name: Floatingxprofile;
    -webkit-animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floatingprofile;
    -moz-animation-duration: 8s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}

@-webkit-keyframes Floatingxprofile{
    from {-webkit-transform:translate(0px, 0px) rotate(-1deg)}
    25% {-webkit-transform:translate(-3px, -10px) rotate(3deg)}
    50% {-webkit-transform:translate(2px, -5px) rotate(-3deg)}
    75% {-webkit-transform: translate(-2px, 5px) rotate(2deg)} 
    to {-webkit-transform: translate(-0, -0) rotate(-1deg)}    
}
    
@-moz-keyframes Floatingprofile{
  	from {-moz-transform:translate(0px, 0px) rotate(-3deg)}
    25% {-moz-transform:translate(5px, -10px) rotate(1deg)}
    50% {-moz-transform:translate(-2px, 5px) rotate(-2deg)}
    75% {-moz-transform: translate(5px, -8px) rotate(1deg)} 
    to {-moz-transform: translate(-0, -0) rotate(-3deg)}    
}


@media (max-width: 680px){
	#round{
		width: 30vw;
		height: 25%;	
	}

	#home-sendPing button{
		font-size: 8rem;
		height: 30vw;
		width: 100%;
		padding: 25% 0 75% 0;
	}

	.home-buttons button{
		font-size: 6rem;
	}

	@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0px, 0px) rotate(2deg)}
    25% {-webkit-transform:translate(-3px, 9px) rotate(-3deg)}
    50% {-webkit-transform:translate(1px, -9px) rotate(1deg)}
    75% {-webkit-transform: translate(-3px, 4px) rotate(-3deg)} 
    to {-webkit-transform: translate(-0, -0) rotate(2deg)}    
}
    
	@-moz-keyframes Floating{
	   from {-moz-transform:translate(0px, 0px) rotate(2deg)}
	    25% {-moz-transform:translate(-3px, 9px) rotate(-3deg)}
	    50% {-moz-transform:translate(1px, -9px) rotate(1deg)}
	    75% {-moz-transform: translate(-3px, 4px) rotate(-3deg)} 
	    to {-moz-transform: translate(-0, -0) rotate(2deg)}    
	}
	 
}
