#akin-intro{
	margin: 0 0 15px 0; 
	font-size: 17rem;
	font-family: 'Open Sans Condensed', 'san-serif';
	font-weight: bold; 
	opacity: 0.8;
	-webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 6s; /* Firefox < 16 */
    -ms-animation: fadein 6s; /* Internet Explorer */
    -o-animation: fadein 6s; /* Opera < 12.1 */
    animation: fadein 6s;
}

#welcome{
	font-size: 1.25rem;
	opacity: 0.8;
	margin: 6% 0 10px 0; 
	display: block;
	-webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s; /* Firefox < 16 */
    -ms-animation: fadein 3s; /* Internet Explorer */
    -o-animation: fadein 3s; /* Opera < 12.1 */
    animation: fadein 3s;
}

#login-button, #register-button{
	background: none;
	font-size: 1.25rem;
	opacity: 0.8;
	margin: 3px 3px;
	border: 2px solid transparent;
    border-radius: 4px;
    -webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 6s; /* Firefox < 16 */
    -ms-animation: fadein 6s; /* Internet Explorer */
    -o-animation: fadein 6s; /* Opera < 12.1 */
    animation: fadein 6s;
    z-index: 10;
}

@media (max-width: 680px){
	#login-button, #register-button{
		font-size: 3rem;
	}
	#akin-intro{
		font-size: 17rem;
	}
	#welcome{
		font-size: 3rem;
		margin: 15% 0 10px 0;
	}
}

#login-button:hover, #login-button:active, #register-button:hover, #register-button:active,{
	background-color:rgba(255, 255, 255, 0.25)
}

#geo-submission{
	max-width:620px;
	margin: 5% auto;
}

#geo-submission label{
	font-weight: normal;
	font-size: 2.5rem;
	text-align: center;
	margin: 1% auto;
}

#geo-submission #searchTextField{
	background-color: rgba(255, 255, 255, 0.5);
	border: 2px #2aaada solid;
    border-radius: 4px;
    font-size: 1.25rem;
    color: #ffffff;
}

#geo-submission #searchTextField::-webkit-input-placeholder{
	color: #ffffff;
}
#geo-submission #searchTextField::-moz-placeholder{
	color: #ffffff;
}
#geo-submission #searchTextField::-ms-input-placeholder{
	color: #ffffff;
}

#geo-submission #locationSubmit-btn{
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.2);
	border: 2px #2aaada solid;
    border-radius: 4px;
}

#geo-submission #locationSubmit-btn:hover, #geo-submission #locationSubmit-btn:active{
	background-color:rgba(255, 255, 255, 0.5)
}

.showOnLocation{
	width: auto;
}
.signal-cols{
	clear: both;
	border:solid #2aaada 1px;
	height:350px; 
	border-radius: 4px; 
	max-height:400px;
	width: 100%;
	overflow: hidden; 
	margin: 5px 0;
	padding: 0;
	background: rgba(255, 255, 255, 0.3);
}

.signal-cols::-webkit-scrollbar{
	width: 1rem;
	background: transparent;
}

.signal-cols::-webkit-scrollbar-thumb{
	background: rgba(255, 0, 0, 0.1);
}


@media (max-width: 680px){
	#geo-submission label{
		font-size: 5rem;
		width: 100%;
		margin: 0 auto;
	}

	#geo-submission #searchTextField{
		font-size: 4rem;
	}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.8; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.8; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.8; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.8; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.8; }
}

canvas{
	z-index: 8;
}







